* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Toujours des fins de ligne LF pour les scripts shell (Docker sous Windows)
*.sh text eol=lf
docker/php/entrypoint.sh text eol=lf
